postgres-data/
mongo-data/

target/
build/
.gradle/
.mvn/

.idea/
.vscode/
*.iml
*.classpath
*.project

.DS_Store
*.log
logs/

.git/
.gitignore

.env
cookies.txt
cookies_chaos.txt
results.txt
payments.txt
test_optometrista.sh
chaos_test.sh
chaos_v2.sh