version: "3.8"

services:
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - postgres-db
  postgres-db:
    image: postgres:16-alpine
    container_name: optisaas-db
    restart: always
    environment:
      POSTGRES_USER: opti_admin
      POSTGRES_PASSWORD: hola-mundo
      POSTGRES_DB: optisaas_core
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
